body{
    background-color: thistle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: slategray;
    width: 370px;
    border-radius: 10px;
    height: 310px;
    padding: 10px;
}
button{
    width: 220px;
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
transition: 0.3s;
    padding: 10px;
    margin: 15px auto;
}
button:active{
    transform: scale(0.95);
}

input{
    width: 200px;
    font-size: 20px;
    color: black;
  
    padding: 10px;
    margin: 15px auto;
}
p{
    font-size: 22px;
    font-weight: bold;
}
h5{
    font-size: 18px;
    margin: 0;
    /* padding: 10px 10px; */
    font-weight: bold;
}

h3{
    font-size: 32px;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}
@media screen and (max-width:426px) {
    div{
        height: 280px;
        width: 340px;
        padding: 7px;
    }
    h3{
        font-size: 29px;
    }
    h5{
        font-size: 15px;
    }
    input{
        width: 170px;
        font-size: 17px;
        padding: 7px;
        margin: 12px auto;
    }
    p{
        font-size: 19px;
    }
    button{
        width: 190px;
        font-size: 17px;
        padding: 7px;
        margin: 12px auto;
    }
}
